<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-5"><label> Snippet name:  </label></div>
				<div class="col-md-7"><input #nickname /></div>
			</div>
			<div class="row">
				<div class="col-md-5"><label> Language:  </label></div>
				<div class="col-md-7"><input #language /></div>
			</div>
			<div class="row">
				<div class="col-md-5"><label> Tags (comma separated):  </label></div>
				<div class="col-md-7"><input #tags /></div>
			</div>
			<div class="row">
				<div class="col-md-5"><label> Description: </label></div>
				<div class="col-md-7"><input #description /> </div>
			</div>

		</div>
		<div class="col-md-6" style="border: solid thin black;">
			<codemirror #code value="// Enter code here" [config]="{lineNumbers: true, theme: 'twilight'}">
      		</codemirror>
		</div>
	</div>
</div>


<button class="btn btn-success" (click)="addSnippet(nickname.value, language.value, tags.value, description.value, code.value); 
				nickname.value=''; language.value=''; tags.value=''; description.value=''; code.value=''"> Add Snippet </button>
<button class="btn btn-danger" (click)="goBack();"> Go Back </button>
